{{- if .Values.app.serviceAccount.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
  annotations:
    deployTime: {{ now | date "20060102150405" | quote }}
{{- end }}